@import 'rc-slider/assets/index.css';
@import 'react-select/dist/react-select.css';

@font-face {
  font-family: 'LyonText-Bold';
  src: asset-url('fonts/LyonText-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  src: asset-url('fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ef_cuisinesregular';
  src: asset-url('fonts/efcuisines-regular-webfont.ttf') format('truetype');
}


.header {
  background-image: url('weeat_bg.png');
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .title {
    margin: 0 auto;
    color: white;
    font-size: 4rem;
    margin-top: 70px;
    font-family: 'LyonText-Bold', Sans-Serif;
  }

  .form-group {
    input {
      width: 40%;
      height: 40px;
      margin: 0 auto;
      font-family: 'LyonText-Bold', sans-serif;
    }
  }

  .btn-circle {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
  }
}

.search-bar {
  margin-top: 45px;
  background-color: #dcdcdcd1;
  height: 100px;

  .select-cuisine {
    margin-top: 30px;
  }

  .filter-cuisine {
    margin-top: 30px;

    .Select-value {
      border-color: #00BFA5;
    }

    .Select-value-label {
      border-color: #00BFA5;
      color: #00BFA5;
    }

    .Select-value-icon {
      border-right-color: #00BFA53D;
      color: #00BFA5;
    }
  }

  .filter-min-rating {
    margin-top: 20px;

    .select-rating {
      margin-top: -20px;
      font-size: 30px;

      i {
        margin-left: 3px;
        margin-bottom: 3px;
      }
    }
  }

  .select-max-delivery {
    margin: 20px;
    width: 300px;
  }

  .filter-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
  }
}

.restaurants-list {
  background-color: whitesmoke;
  padding-right: 0 !important;
  height: calc(100vh - 350px);
  overflow: scroll;

  .list-group-item {
    padding-left: 6px !important;
    padding-right: 0 !important;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .cuisine-icon {
    font-family: 'ef_cuisinesregular', sans-serif;
    font-size: 40px;
  }

  .restaurant-title {
    padding-left: 0 !important;

    .restaurant-name {
      font-size: 20px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    .restaurant-address {
      text-align: left;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .logo10bis {
    padding-left: 0 !important;
    display: flex;
    align-items: center;
  }

  .restaurants-list-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .restaurant-item-rating {
    margin-top: 4px;
  }

  .restaurant-small-title {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }

  img {
    height: 30px;
    width: 30px;
  }
  .col-md-3 {
    padding-right: 0 !important;;
  }
}

.restaurants-map {
  padding-left: 0 !important;
}
