@font-face {
  font-family: 'ProximaNova';
  src: asset-url('fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'LyonText-Bold';
  src: asset-url('fonts/LyonText-Bold.otf') format('opentype');
}


@font-face {
  font-family: 'Roboto';
  src: asset-url('fonts/RobotoCondensed-Regular.ttf') format('truetype');
}


.header {
  background-image: url('weeat_bg.png');
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .title {
    margin: 0 auto;
    color: white;
    font-size: 4rem;
    margin-top: 70px;
    font-family: 'LyonText-Bold', Sans-Serif;
  }

  .form-group {
    input {
      width: 40%;
      height: 40px;
      margin: 0 auto;
      font-family: 'LyonText-Bold', sans-serif;
    }
  }

  .btn-circle {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
  }
}

.search-bar {
  margin-top: 45px;
  background-color: #dcdcdcba;
  height: 100px;
}
